.ContactWrapper {
	--content-to-icon-gap: 1.5rem;
	--content-gap: calc(var(--content-to-icon-gap) * 4);
	--content-header-gap: calc(var(--content-gap) * 2);
	--content-wrapper-gap: calc(var(--content-header-gap));
	--icon-width: 4rem;

	display: grid;
	gap: var(--content-header-gap);
	place-content: stretch center;
	padding: var(--content-wrapper-gap) 0;
}

.ContactWrapper h2 {
	font-size: 3rem;
	justify-self: center;
}

.Contact {
	width: min(100ch, 60vw);
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	gap: var(--content-gap);
	list-style-type: none;
}

.ContactWrapper .Detail {
	display: flex;
	align-items: center;
	gap: var(--content-to-icon-gap);
	text-align: left;
}

.Contact img {
	width: var(--icon-width);
	aspect-ratio: 1;
}

.Contact .Detail:nth-child(2n) {
	text-align: right;
	flex-direction: row-reverse;
}

.ContactFooter {
	min-height: 5rem;
	min-width: 100ch;
	display: flex;
	justify-content: space-evenly;
	gap: 5rem;
	background: lightblue;
}

.ContactFooter h2,
.ContactFooter p {
	display: grid;
	place-content: center;
}
