.Contact {
	display: flex;
	flex-flow: column;
	gap: 1rem;
	padding: 0.5rem;
	align-items: center;
	width: 100%;
}

.Contact>div {
	padding: 0 3rem;
}

.Contact>ul {
	width: 40vw;
}

.Contact h2 {
	font-size: 2rem;
	padding: 3rem 0;
}

.Contact ul {
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	list-style-type: none;
}

.Contact .Detail {
	display: flex;
	align-items: center;
	gap: 1rem;
	text-align: left;
}

.Contact img {
	width: 4rem;
	aspect-ratio: 1;
}

.Contact .Detail:nth-child(2n) {
	text-align: right;
	flex-direction: row-reverse;
}

.ContactFooter {
	min-height: 5rem;
	min-width: 100ch;
	display: flex;
	justify-content: space-evenly;
	gap: 5rem;
	background: lightblue;
}

.ContactFooter>* {
	display: grid;
	place-content: center;
}
