#home {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.content {
	width: 30vw;
}

.restaurant-image {
	aspect-ratio: 16 / 9;
	width: 30vw;
	display: grid;
	background-color: lightblue;
	place-content: center;
}
