#home {
	--home-content-gap: 0.5rem;
	--content-to-image-gap: calc(var(--home-content-gap) * 4);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--content-to-image-gap);
}

#home .content {
	width: 30vw;
	display: grid;
	gap: var(--home-content-gap);
}

#home .content h1 {
	font-size: var(--heading-font-size);
}

.restaurant-image {
	aspect-ratio: 16 / 9;
	width: 30vw;
	display: grid;
	background-color: lightblue;
	place-content: center;
}
