.Footer {
	min-height: 5rem;
	min-width: 150ch;
	display: flex;
	gap: 1rem;
	padding: 0.5rem;
	align-items: center;
	background-color: lightblue;
}

.Footer>div,
.Footer .Detail {
	padding: 0 3rem;
}

.Footer ul {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style-type: none;
}

.Footer .Detail {
	display: grid;
	place-content: center;
	text-align: center;
}

.Footer .Detail div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1ch;
}

.Footer .Detail img {
	width: 1rem;
	aspect-ratio: 1;
}
